@model IEnumerable<QuadroAtividade.Models.Task>

@{
    /**/

    ViewBag.Title = "Index";
}

@using (Html.BeginForm("AtualizaStatus", "Tasks"))
{
    @Html.AntiForgeryToken()
}

@using (Html.BeginForm("ExcluiTask", "Tasks"))
{
    @Html.AntiForgeryToken()
}


<h2>Quadro de atividades</h2>

<p>
    <button class="btn btn-info create" title="Cadastrar" type="button" style="margin-left: 5px;"><i class="glyphicon glyphicon-plus"></i> Cadastrar</button>
</p>

<div id="board">
    <div id="001" class="section">
        <h1>A fazer</h1>

        @foreach (var item in Model)
        {
            if (item.Status == 1)
            {

                <div id="@item.TaskId" class="card">
                    <div>
                        <h3> <u> @item.Titulo </u></h3>
                        <p>@item.Descricao</p>

                        <h4>Id: @item.TaskId</h4>
                        <h4>Criação: @item.DataCriacao.ToString("dd/MM/yyyy")</h4>


                        @if (item.DataEdicao.ToString("dd/MM/yyyy") != "31/12/9999")
                        {
                            <h4> Atualização: @item.DataEdicao.ToString("dd/MM/yyyy")</h4>
                        }
                    </div>

                    <div style="display: inline-flex;">
                        <button class="btn btn-warning btn-mini details" title="Detalhes" data-id="@item.TaskId" type="button"><i class="glyphicon glyphicon-file"></i></button>
                        <button class="btn btn-primary btn-mini edit" title="Editar" data-id="@item.TaskId" type="button"><i class="glyphicon glyphicon-edit"></i></button>
                        @using (Html.BeginForm("Delete", "Tasks", new { id = item.TaskId }, FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.CustomBtnConfirmation("", "Confirmar ação", "Deseja excluir a atividade ?", new { @class = "btn btn-danger btn-mini glyphicon glyphicon-trash", @style = "top: 0px;", @title = "Excluir atividade" })
                        }
                    </div>
                </div>
            }
        }


    </div>
    <div id="002" class="section">
        <h1>Em andamento</h1>

        @foreach (var item in Model)
        {
            if (item.Status == 2)
            {
                <div id="@item.TaskId" class="card">
                    <div>
                        <h3> <u> @item.Titulo </u></h3>
                        <p>@item.Descricao</p>

                        <h4>Id: @item.TaskId</h4>
                        <h4>Criação: @item.DataCriacao.ToString("dd/MM/yyyy")</h4>


                        @if (item.DataEdicao.ToString("dd/MM/yyyy") != "31/12/9999")
                        {
                            <h4> Atualização: @item.DataEdicao.ToString("dd/MM/yyyy")</h4>
                        }
                    </div>
                    <div style="display: inline-flex;">
                        <button class="btn btn-warning btn-mini details" title="Detalhes" data-id="@item.TaskId" type="button" style="margin-right: 2px; margin-left: 2px;"><i class="glyphicon glyphicon-file"></i></button>
                        <button class="btn btn-primary btn-mini edit" title="Editar" data-id="@item.TaskId" type="button"><i class="glyphicon glyphicon-edit"></i></button>
                        @using (Html.BeginForm("Delete", "Tasks", new { id = item.TaskId }, FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.CustomBtnConfirmation("", "Confirmar ação", "Deseja excluir a atividade ?", new { @class = "btn btn-danger btn-mini glyphicon glyphicon-trash", @style = "top: 0px;", @title = "Excluir atividade" })
                        }
                    </div>
                </div>
            }
        }

    </div>
    <div id="003" class="section">
        <h1>Concluídas</h1>

        @foreach (var item in Model)
        {
            if (item.Status == 3)
            {
                <div id="@item.TaskId" class="card">
                    <div>
                        <h3> <u> @item.Titulo </u></h3>
                        <p>@item.Descricao</p>

                        <h4>Id: @item.TaskId</h4>
                        <h4>Criação: @item.DataCriacao.ToString("dd/MM/yyyy")</h4>


                        @if (item.DataEdicao.ToString("dd/MM/yyyy") != "31/12/9999")
                        {
                            <h4> Atualização: @item.DataEdicao.ToString("dd/MM/yyyy")</h4>
                        }
                    </div>
                    <div style="display: inline-flex;">
                        <button class="btn btn-warning btn-mini details" title="Detalhes" data-id="@item.TaskId" type="button" style="margin-right: 2px; margin-left: 2px;"><i class="glyphicon glyphicon-file"></i></button>
                        <button class="btn btn-primary btn-mini edit" title="Editar" data-id="@item.TaskId" type="button"><i class="glyphicon glyphicon-edit"></i></button>
                        @using (Html.BeginForm("Delete", "Tasks", new { id = item.TaskId }, FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.CustomBtnConfirmation("", "Confirmar ação", "Deseja excluir a atividade ?", new { @class = "btn btn-danger btn-mini glyphicon glyphicon-trash", @style = "top: 0px;", @title = "Excluir atividade" })
                        }
                    </div>
                </div>
            }
        }
    </div>
</div>


<h2>Atividades excluídas</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataCriacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataEdicao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataConclusao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataRemocao)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.Status == 4)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @item.Descricao.ToString().Substring(0, (item.Descricao.Length > 30) ? 30 : item.Descricao.Length)
                    ...
                </td>
                <td>
                    @item.DataCriacao.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @if (item.DataEdicao.ToString("dd/MM/yyyy") != "31/12/9999")
                    {
                        @item.DataEdicao.ToString("dd/MM/yyyy")
                    }
                    else

                    {
                        <p> </p>
                    }
                </td>
                <td>
                    @if (item.DataConclusao.ToString("dd/MM/yyyy") != "31/12/9999")
                    {
                        @item.DataConclusao.ToString("dd/MM/yyyy")
                    }
                    else

                    {
                        <p> </p>
                    }
                </td>
                <td>
                    @item.DataRemocao.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @using (Html.BeginForm("RestauraTask", "Tasks", new { id = item.TaskId }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.CustomBtnConfirmation("", "Confirmar ação", "Deseja restaurar a atividade ?", new { @class = "btn btn-success glyphicon glyphicon-arrow-up", @style = "margin-right: 2px; margin-left: 2px;", @title = "Restaurar atividade" })
                    }
                </td>
            </tr>
        }
    }
</table>

<div class="modal" id="modal">
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/Task.js"></script>
}
